header {
  padding: 1em;
  padding-top: 0.5em;
  border-bottom: 5px solid var(--border-colour);
  margin: 0;
  margin-bottom: 2em;
}

header .title {
  font-size: 3em;
  font-weight: bold;
}

header .title .theme-btn {
  display: inline-block;
  font-weight: lighter;
  font-size: 0.5em;
  margin-left: 0.125em;
  border-radius: var(--border-radius);
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header .sub-title {
  color: var(--sub-text-colour);
}

/* phone */
@media (max-width: 420px) {
  header .title {
    font-size: 2em;
  }
  header .sub-title {
    font-size: 0.9em;
  }
}
