.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 1em;
}

.menu .menu-item {
  flex: 40%;
  padding: 1em;
  border: 2px solid var(--border-colour);
  border-radius: var(--border-radius);
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  transition: var(--transition);
}

.menu .menu-item:hover {
  border-color: var(--accent-colour);
  color: var(--accent-colour);
}

/* phone */
@media (max-width: 420px) {
  .menu .menu-item {
    font-size: 1.25em;
  }
}
