:root {
  --color-background: black;
  --color-text: white;
  --color-text-hightlight: #3498db;
}

[data-theme="light"] {
  --color-background: white;
  --color-text: black;
}

[data-theme="matrix"] {
  --color-background: black;
  --color-text: #22b455;
  --color-text-hightlight: #80ce87;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: monospace;
  font-size: 1.1em;
  margin-top: 0;
}

a {
  color: var(--color-text-hightlight)
}

pre {
  width: 100%;
  margin-top: 0;
}

main {
  margin-top: 2em;
}

.terminal-line {
  display: flex;
}

.input {
  outline: none;
  display: inline-block;
  margin-left: 0.25em;
  width: calc(100% - 2em);
}

.indent {
  margin-left: 1em;
}

#matrix-canvas {
  display: none;
}

[data-theme="matrix"] #matrix-canvas {
  display: initial;
}

#matrix-canvas {
  position: absolute;
  z-index: -100000;
}
